[submodule "themes/hugo-theme-m10c"]
 	path = themes/hugo-theme-m10c
 	url = https://github.com/vaga/hugo-theme-m10c.git

 [submodule "themes/LoveIt"]
  	path = themes/LoveIt
  	url = https://github.com/dillonzq/LoveIt.git